<div class="container-fluid">

  <div class="row" style="font-family: Georgia">
    <!--The content below is only a placeholder and can be replaced.-->
    <nav class="">
      <div id="colorNav" class="nav-wrapper">
        <label class="text" style="font-family: Georgia" >Elejiste la mejor opcion</label>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="/login" style="color: #111111">Login</a></li>
          <li><a routerLink="/products" style="color: #111111">Productos</a></li>
          <li><a routerLink="/home" style="color: #111111">Home</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
